.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.wrapper {
  box-sizing: border-box;
  width: 940px;
  height: 140px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0 5px 5px 0;
  padding: 15px;
  box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.15);

  &:hover {
    border-color: #52c41a;
    box-shadow: 0 0 10px 0 rgba($color: #52c41a, $alpha: 0.5);
  }
}
