.header {
  width: 1440px;
  height: 80px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  &Title {
    font-size: 1.2em;
    font-weight: 500;
  }

  &Buttons {
    display: flex;
    gap: 5px;
  }
}

.button {
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  &Title {
    font-size: 1.5em;
  }

  &:hover {
    color: #52c41a;
    border: 1px solid #52c41a;
    border-radius: 5px;
  }
}
