.header {
  width: 1440px;
  height: 80px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  &Title {
    font-size: 1.2em;
    font-weight: 500;
  }

  &Buttons {
    display: flex;
    gap: 5px;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba($color: #000000, $alpha: 0.85);
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    // color: #52c41a;
    filter: drop-shadow(0 0 4px #52c41a);
  }
}

.avatar {
  width: 46px;
  height: 46px;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.button {
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  &Title {
    font-size: 1.5em;
  }

  &:hover {
    color: #52c41a;
    border: 1px solid #52c41a;
    border-radius: 5px;
  }
}
