.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  width: 700px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.title {
  margin-right: 10px;
  color: #1890ff;
  font-size: 1.55em;
  font-weight: 600;
}

.wrapper {
  max-height: 47px;
  overflow: auto;
}

.full {
  max-height: 47px;
  overflow: auto;
  margin-bottom: 10px;
}

.likeButton {
  align-self: center;
  box-sizing: border-box;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  background: no-repeat url('../../data/images/empty_heart.svg');
}
